.todo-list {
    margin-top: 4vh;
    list-style-type: none;
    line-height: 3;
    width: 100%;
    text-align: center;
    padding: 1vh;
}

.todo-list-items {
    display: flex; /* Using Flexbox */
    align-items: center; /* Centers content vertically within the container */
    justify-content: center; /* Centers content horizontally */
    border: 1px solid #363434;
    border-radius: 1vh;
    margin: 1vh;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    user-select: none;
    line-height: 1.3;
    min-height: 6vh;
    padding: 1vh;
    border: 2px solid #C5C6C7;
    color: #45A29E;
}

.todo-list-items:hover {
    background-color: #5bed00;
    color: #000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.todo-list-items:active {
    background-color: #5bed00;
    transform: scale(0.98);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.todo-checkbox {
    margin-right: 1vw;
}