.trackers {
  padding: 0%;
  display: flex;
  flex-direction: row; /* Align elements in a row */
  justify-content: space-around; /* Optional: add space between elements */
  width: 100%;
  height: 25%;
  border-radius: 5vh;
  
}

.specific-tracker-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
  }

.specific-tracker {
  align-items: center;
  width: 16vw;
  height: 22vh;
  border-radius: 10%;
  background-color:rgb(62, 62, 124);
}

.calories-tracker {
    margin: 0;
    padding: 0;
    width:16vw;
    height: 22vh;
    background-color: rgb(62, 62, 124);
    align-items: center;
    border-radius: 10%;
}

.secondary-row {
  display: flex;
  flex-direction: row;  
}

.step-tracker-main {
  background-color: rgb(62, 62, 124);
  border-radius: 2vh;
  width: 30%;
  padding: 1%;
  margin-left: 6vw;
  margin-top: 4vh;
}

.weight-tracker-main {
  background-color: rgb(62, 62, 124);
  border-radius: 2vh;
  width: 25%;
  padding: 1%;
  margin-left: 2vw;
  margin-top: 4vh;
}
