.todo-list {
    margin-top: 15vh;
    list-style-type: none;
    line-height: 3;
    width: 100%;
    text-align: center;
    padding: 1vh;
}

.todo-list-items {
    border: 1px solid #363434;
    border-radius: 1vh;
    margin: 1vh;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif; /* Change to your desired font */
    font-size: 18px; /* Change to your desired font size */
    color: #FFFFFF; /* Change to your desired font color */
}

.todo-checkbox {
    margin-right: 1vw;
}